body{
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


.main_heading{
    margin : auto;
    padding: 5px 5px;
}

h1{
    color: gray;
}

p{
    color: darkgrey;
}

#l1{
color: gray;
}

